In [1]:
l = ["name","mailid","phoneno"]
for i in l:
    print(i)

name
mailid
phoneno

In [2]:
l = ["name","mailid","phoneno"]
for i in l:
    print(i+"raja")

nameraja
mailidraja
phonenoraja

In [3]:
s = "yoga"
for i in s:
    print(i)

y
o
g
a

In [5]:
l = ["name","mailid","phoneno"]
for i in l:
    print(i)
else:
    print("if for loop is going to complete itself then it will come to else")

name
mailid
phoneno
if for loop is going to complete itself then it will come to else

In [3]:
l = ["name","mailid","phoneno"]
for i in l:
    if i == "phoneno":
        break
    print(i)
else:
    print("check this statement")

name
mailid

In [3]:
s = "raja"
for i in s:
    if i =="raja":
        break
else:
    print("dont execute it unless and untill it is not printing my name")

dont execute it unless and untill it is not printing my name

In [4]:
s = "raja"
for i in s:
    if i =="r":
        break
else:
    print("dont execute it unless and untill it is not printing my name")

In [ ]:
a = 1
while a < 6:
    print(a)
    a = a+1

In [14]:
a = 1
while a < 5:
    print(a)
    if a == 4:
        break
    a = a+1

1
2
3
4

In [2]:
#pss
#break
#continue

In [3]:
range(6)

range(0, 6)

In [4]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [6]:
range(0,6)

range(0, 6)

In [7]:
list(range(0,6))

[0, 1, 2, 3, 4, 5]

In [9]:
list(range(0,22))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [10]:
list(range(0,33,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32]

In [11]:
list(range(0,33,-1))     #same like slicing concept(both different side)

[]

In [12]:
list(range(10,6,-1))

[10, 9, 8, 7]

In [14]:
list(range(10,-5,-2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [15]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [16]:
for i in range(10,-5,-2):
    print(i)

10
8
6
4
2
0
-2
-4

In [6]:
n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print("raja " , end = "")
    print("\n")

raja

raja raja

raja raja raja

raja raja raja raja

raja raja raja raja raja

In [7]:
l = [1,2,3]
for i in l:
    print(i)

1
2
3

In [8]:
t = (1,2,3)
for i in t:
    print(i)

1
2
3

In [9]:
s = "raja"
for i in s:
    print(i)

r
a
j
a

In [16]:
t = (1,2,3,4,5,6)
for i in range(len(t)):
    print(i, t[i])

0 1
1 2
2 3
3 4
4 5
5 6

In [17]:
t = (1,2,3,4,5,6)
t[::-1]

(6, 5, 4, 3, 2, 1)

In [19]:
d = {"a":"raja" , "b":"yoga" , "c":[1,2,3] , "d":(1,2,3)}
for i in d:
    print(i , d[i])

a raja
b yoga
c [1, 2, 3]
d (1, 2, 3)

In [20]:
d = {"a":"raja" , "b":"yoga" , "c":[1,2,3] , "d":(1,2,3)}
for i in d.items():
    print(i)

('a', 'raja')
('b', 'yoga')
('c', [1, 2, 3])
('d', (1, 2, 3))

In [22]:
s = {1,2,3,3,4,4,4,5,6,7}
s

{1, 2, 3, 4, 5, 6, 7}

In [23]:
s = {1,2,3,3,4,4,4,5,6,7}
for i in s:
    print(i)

1
2
3
4
5
6
7

In [1]:
1+2

3

In [2]:
d = {"a":"raja" , "b":"yoga" , "c":[1,2,3] , "d":(1,2,3)}
for i in d:
    print(i,d[i])

a raja
b yoga
c [1, 2, 3]
d (1, 2, 3)