In [6]:
a = 10
if a < 15:
    print("my name is raja")

my name is raja

In [7]:
a = 10
if a < 15:
    pass

In [8]:
if 24 < 15:
    print("raja")

In [9]:
if 15 < 3:
    print("raja")
else:
    print("yoga")

yoga

In [10]:
if 15 < 16:
    print("raja")
else:
    print("yoga")

raja

In [11]:
income = 100
if income < 50:                         #100 < 50 False
    print("i can able to buy phone")
elif income < 60:                       #100 < 60 False
    print("i can able to buy car")
elif income < 90:                       #100 < 90 False
    print("i can able to buy house")
else:
    print("noting able to buy")

noting able to buy

In [13]:
income = int(input())                 #getting input from user
if income < 50:                         
    print("i can able to buy phone")
elif income < 60:                       
    print("i can able to buy car")
elif income < 90:                       
    print("i can able to buy house")
else:
    print("noting able to buy")

10
i can able to buy phone

In [19]:
Total_price = int(input())
if Total_price > 20000:
    discount = Total_price * .20
    print("discount will be" , discount)
elif Total_price < 7000:
    discount = Total_price * .05
    print("discount will be" , discount)
else:
    print("wont give any discount")

8000
wont give any discount

In [21]:
coup = input()
if coup =="raja007":
    print("you will get discount of 5 percent")
    paid_amount = 7000 - 7000*.5
    print("you will get discount of", paid_amount)
else:
    print("enter valid coupon code")

raja007
you will get discount of 5 percent
you will get discount of 3500.0

In [6]:
study_hour = float(input())
if study_hour < 1:
    print("it may take 10 months")
elif study_hour >1 and study_hour <4:
    print("it may take 6 months")
elif study_hour > 10:
    print("it may take 3 month")
else:
    print("it may difficult")

0.5
it may take 10 months

In [1]:
s = input("enter any name to start")
course = input("enter course name")
service = input("enter service name")
if s =="oneneuron":
    if course =="DSA":
        print("yes available")
    elif course =="blockchain":
        print("yes available also")
    else:
        print("not available")
elif s =="oneneuronservice":
    if service =="course request":
        print("ok")
    elif service =="demand":
        print("ok will see")
else:
        print("nothing")

enter any name to startoneneuron
enter course nameblockchain
enter service namedemand
yes available also

In [2]:
l = [1,2,3,4,5,6,7]       #i = local variable
for i in l:
    print(i)

1
2
3
4
5
6
7

In [4]:
s ="yoga"
for i in s:
    print(i)

y
o
g
a

In [5]:
t = (1,2,3,4,4,4,5,6)
for i in t:
    print(i)

1
2
3
4
4
4
5
6

In [6]:
l =[1,2,3.3,4.5,"raja",5.6j]
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [14]:
l = [1,2,3.3,4.5]
l1 = []
for i in l:
    print(i+2)
    l1.append(i+2)

3
4
5.3
6.5

In [15]:
l1

[3, 4, 5.3, 6.5]

In [16]:
l = [1,2,3,4.4,5.6j,"raja"]
for i in l:
    if type(i) == int:
        print(i)

1
2
3

In [19]:
l = [1,2,3,4,5,6]
for s in l:
    print(s)

1
2
3
4
5
6

In [14]:
l = [2,45,78,12,"sudh",6+7j,[56,67,78,"dsfdsf"]]
for i in range(len(l)):
    print("index" , i , "for an element" ,l[i])

index 0 for an element 2
index 1 for an element 45
index 2 for an element 78
index 3 for an element 12
index 4 for an element sudh
index 5 for an element (6+7j)
index 6 for an element [56, 67, 78, 'dsfdsf']

In [15]:
l = [2,45,78,12,"sudh",6+7j,[56,67,78,"dsfdsf"]]
for i in enumerate(l):
    print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 'sudh')
(5, (6+7j))
(6, [56, 67, 78, 'dsfdsf'])

In [16]:
l = [2,45,78,12,"sudh",6+7j,[56,67,78,"dsfdsf"]]
for i,j in enumerate(l):
    print(i,j)

0 2
1 45
2 78
3 12
4 sudh
5 (6+7j)
6 [56, 67, 78, 'dsfdsf']

In [25]:
l = [2,45,78,12,"sudh",6+7j,[56,67,78,"dsfdsf"]]
for i in l:
    if type(i)==str:
        l1 = []
        for j in i:
            l1.append(j)
        print(l1)

['s', 'u', 'd', 'h']

In [31]:
l = [2,45,78,12,"sudh",6+7j,[56,67,78,"dsfdsf"]]
l2 = []
for i in l:
    if type(i)==int:
        l2.append(i**2)
        print(l2)

[4]
[4, 2025]
[4, 2025, 6084]
[4, 2025, 6084, 144]